# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
uploads/*
upload-express/client/node_modules
upload-express/server/node_modules
upload-koa/koa-uploadApi/node_modules
upload-koa/upload-client/node_modules

upload-express/server/uploads
upload-koa/koa-uploadApi/public/uploads
# dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
